* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: hsl(171, 66%, 44%);
    --color-light: hsl(233, 100%, 69%);
    --color-dark: hsl(210, 10%, 33%);
    --color-blue: hsl(201, 11%, 66%);
}

body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    color: var(--color-blue);
    line-height: 1.7;
    width: 48%;
    margin: auto;
}

@media (max-width:668px) {
    p {
        width: 100%;
    }
}

h1 , h3 {
    color: var(--color-dark);
}

h1 {
    white-space: nowrap;
    font-weight: 600;
    margin-bottom: 15px;
}

@media (max-width:668px) {
    h1 {
        white-space: normal;
    }
}

h3 {
    font-size: 400;
}

.container {
    padding-inline: 40px;
    margin-bottom: 160px;
}

@media (max-width:668px) {
    .container {
        width: 375px;
        padding-inline: 20px;
    }
}

@media (max-width:1440px) {
    .container {
        width: 1170px;
    }
}

div.header {
    background-image: url(../images/bg-header-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}

div.header div.container {
    height: 48vh;
    margin-bottom: 0px;
}

@media (max-width:668px) {
    div.landing div.container {
        height: 100vh;
    }

    div.header {
        background-image: url(../images/bg-header-mobile.png);
    }
}

div.landing {
    position: relative;
    top: -40px;
}

div.header div.container ,
div.landing div.container ,
.cliboard .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

div.landing div.container .text-content {
    width: 100%;
}

div.landing div.container .text-content h1 {
    margin-bottom: 28px;
}

@media (max-width:668px) {
    div.landing div.container .text-content {
        max-width: 100%;
    }
}

div.landing div.container .text-content p {
    margin-bottom: 57px;
    max-width: 100%;
}

div.landing div.container .links ,
.cliboard .container .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
}

@media (max-width:668px) {
    div.landing div.container .links,
    .cliboard .container .links {
        flex-direction: column;
        width: 100%;
    }
}

div.landing div.container .links a,
.cliboard .container .links a {
    display: block;
    white-space: nowrap;
    padding: 18px 36px;
    color: white;
    border-radius: 30px;
    margin-inline: 15px;
    transition: 0.3s;
    width: 100%;
}

div.landing div.container .links a:first-of-type,
.cliboard .container .links a:first-of-type {
    background-color: var(--main-color);
}

div.landing div.container .links a:first-of-type:hover,
.cliboard .container .links a:first-of-type:hover {
    box-shadow: 0px -6px 50px 20px #fff, 0px 5px 20px 0px #26baa4b3;
}

div.landing div.container .links a:last-of-type,
.cliboard .container .links a:last-of-type {
    background-color: var(--color-light);
}

div.landing div.container .links a:last-of-type:hover,
.cliboard .container .links a:last-of-type:hover {
    box-shadow: 0px 10px 20px 0px #fff, 2px 10px 15px 0px hsl(201deg 7% 73% / 65%);
}

.keep .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width:668px) {
    .keep .container {
        text-align: center;
    }
}

.keep .container .content-text {
    text-align: center;
    width: 100%;
    margin: 0px auto 78px;
}

@media (max-width:668px) {
    .keep .container .content-text {
        width: 100%;
    }
}

.keep .container .content-text h1 {
    margin-bottom: 28px;
}

.keep .container .content-box img {
    position: relative;
    left: -110px;
    transition: 00.5s;
}

@media (max-width:992px) {
    .keep .container .content-box img {
        left: 0px;
        margin-bottom: 20px;
    }
}

.keep .container .content-box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width:992px) {
    .keep .container .content-box  {
        flex-direction: column;
    }
}

.keep .container .content-box .container-boxs {
    gap: 70px;
    width: 28%;
    display: flex;
    flex-direction: column;
}

.keep .container .content-box .container-boxs .box {
    width: 100%;
}

@media (max-width:992px) {
    .keep .container .content-box .container-boxs .box {
        text-align: center;
    }
}

.keep .container .content-box .container-boxs .box h3 {
    white-space: nowrap;
    margin-bottom: 25px;
}

.keep .container .content-box .container-boxs .box p {
    width: 100%;
    margin: 0%;
}

.access .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 90px;
}

.access .container .content-text {
    width: 100%;
    margin: 0px auto 100px;
    text-align: center;
}

.access .container .content-text h1 {
    margin-bottom: 28px;
}

.access .container .content-text p {
    margin-block-end: 25px;
}

.access .container img {
    width: 63%;
}

.super-charger .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.super-charger .container .content-text {
    width: 100%;
    margin-bottom: 71px;
    text-align: center;
}

.super-charger .container .boxs-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    padding-inline: 86px;
}

@media (max-width:668px) {
    .super-charger .container .boxs-content {
        padding-inline: 0px;
    }
}

.super-charger .container .boxs-content .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.super-charger .container .boxs-content .box p {
    width: 100%;
}

.super-charger .container .boxs-content .box h3 {
    margin-top: 45px;
    margin-bottom: 30px;
    white-space: nowrap;
}

.images .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 40px;
    place-items: center;
    padding: 0px 110px;
}

.cliboard .container .text-content {
    width: 100%;
    margin-bottom: 55px;
    text-align: center;
}

@media (max-width:668px) {
    .cliboard .container .text-content  {
        max-width: 100%;
    }
}

.cliboard .container .text-content  h1 {
    margin-bottom: 28px;
}

.cliboard .container .text-content p {
    width: 50%;
    margin: auto;
}

footer {
    background-color: hsl(180deg 10% 96% / 48%);
}

footer .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    margin-bottom: 0%;
}

@media (max-width:668px) {
    footer .container {
        flex-direction: column;
    }
}

footer .container > img {
    width: 50px;
    height: 50px;
}

footer .container ul.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-inline: 20px;
}

@media (max-width:668px) {
    footer .container > img {
        margin-block: 20px;
    }
    footer .container ul.contacts {
        flex-direction: column;
        justify-content: center;
    }
}

footer .container ul.contacts li {
    width: calc(100% / 3);
    padding: 10px 20px;
}

@media (max-width:992px) {
    footer .container ul.contacts li {
        width: calc(100% / 2);
        flex-wrap: wrap;
    }
}

@media (max-width:668px) {
    footer .container ul.contacts li {
        width: 100%;
        text-align: center;
    }
}

footer .container ul.contacts li a {
    color: var(--color-blue);
    display: block;
    width: 100%; 
    white-space: nowrap;
    transition: 0.5s;
}

footer .container ul.contacts li a:hover {
    color: var(--main-color);
}

footer .container ul.sochial-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .container ul.sochial-media li {
    height: 40px;
    width: 40px;
    margin-inline: 15px;
}

@media (max-width:992px) {
    footer .container ul.contacts,
    footer .container ul.sochial-media{
        margin-block: 20px;
    }
}

footer .container ul.sochial-media li a i {
    color: var(--color-dark);
    width: 30px;
    height: 30px;
    transition: 00.5s;
}

footer .container ul.sochial-media li a:hover i {
    color: var(--main-color);
    display: flex;
}